<section class="detail-search">
    <app-search></app-search>
</section>
<section class="details-wrapper">
    <app-weathercard></app-weathercard>
    <div class="details-week-grid">
        <div class="details-week-title">
            <mat-card-title>Week</mat-card-title>
        </div>
        <div class="details-week-weather">
            <mat-card class="day-card">
                <mat-card-subtitle>
                    Th
                </mat-card-subtitle>
                <mat-card-content>
                    <img src="assets/day.svg" />
                    <mat-card-subtitle>18°C</mat-card-subtitle>
                </mat-card-content>
            </mat-card>
            <mat-card class="day-card">
                <mat-card-subtitle>
                    Th
                </mat-card-subtitle>
                <mat-card-content>
                    <img src="assets/day.svg" />
                    <mat-card-subtitle>18°C</mat-card-subtitle>
                </mat-card-content>
            </mat-card>
            <mat-card class="day-card">
                <mat-card-subtitle>
                    Th
                </mat-card-subtitle>
                <mat-card-content>
                    <img src="assets/day.svg" />
                    <mat-card-subtitle>18°C</mat-card-subtitle>
                </mat-card-content>
            </mat-card>
            <mat-card class="day-card">
                <mat-card-subtitle>
                    Th
                </mat-card-subtitle>
                <mat-card-content>
                    <img src="assets/day.svg" />
                    <mat-card-subtitle>18°C</mat-card-subtitle>
                </mat-card-content>
            </mat-card>
            <mat-card class="day-card">
                <mat-card-subtitle>
                    Th
                </mat-card-subtitle>
                <mat-card-content>
                    <img src="assets/day.svg" />
                    <mat-card-subtitle>18°C</mat-card-subtitle>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="details-week-grid">

    </div>

    <div class="details-today-grid">
        <div class="details-today-highlights">
            <mat-card class="details-today-card">
                <mat-card-subtitle>vis_km </mat-card-subtitle>
            </mat-card>
            <mat-card class="details-today-card">
                <mat-card-subtitle>gust_kph </mat-card-subtitle>
            </mat-card>
            <mat-card class="details-today-card">
                <mat-card-subtitle>wind_degree wind_dir</mat-card-subtitle>
            </mat-card>
            <mat-card class="details-today-card">
                <mat-card-subtitle>pressure_mb</mat-card-subtitle>
            </mat-card>
            <mat-card class="details-today-card">
                <mat-card-subtitle>Properties </mat-card-subtitle>
            </mat-card>
            <mat-card class="details-today-card">
                <mat-card-subtitle>Properties </mat-card-subtitle>
            </mat-card>
        </div>
    </div>
</section>
