<section class="detail-search">
    <app-search (newSearchEvent)="this.onSearch($event)"></app-search>
</section>
<section class="details-wrapper">
    <app-weathercard
        *ngIf="shortWeather$ | async"
        [weather$]="shortWeather$ | async"
    >
    </app-weathercard>
    <app-today-highlights
    *ngIf="todayHighlights$ | async"
    [todayHighlights$]="todayHighlights$ | async"
    >
    </app-today-highlights>
    <app-dailyweather
        *ngIf="dailyWeather$ | async"
        [dailyWeather$]="dailyWeather$ | async"
        class="details-week-grid">
    </app-dailyweather>
    <!-- <div class="details-week-grid"></div> -->
</section>
