.details-wrapper {
    display: grid;
    grid-auto-rows: auto;
    grid-row-gap: 1vh;
    max-width: 1440px;  

    // .details-week-grid {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    // }
}

@media screen and (max-width: 768px) {
    .details-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2vh;
        width: 90vw;
    }
}
