<mat-card>
  <mat-card-header>
    <mat-card-title>London</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <img src="" />
      <mat-card-title>18°C</mat-card-title>
    </div>
    <div class="mat-card-rigth-box">
      <mat-card-subtitle>Feels like</mat-card-subtitle>
      <mat-card-subtitle>18°C</mat-card-subtitle>
      <mat-card-subtitle>Feels like</mat-card-subtitle>
      <mat-card-subtitle>18°C</mat-card-subtitle>
      <mat-card-subtitle>Feels like</mat-card-subtitle>
      <mat-card-subtitle>18°C</mat-card-subtitle>
      <mat-card-subtitle>Feels like</mat-card-subtitle>
      <mat-card-subtitle>18°C</mat-card-subtitle>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent">Details</button>
    <button mat-raised-button color="accent">Add to list</button>
  </mat-card-actions>
</mat-card>
