<mat-card>
    <mat-card-header>
        <mat-card-title>{{ (weather$ | async)?.location }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="mat-card-left-box">
            <img src="{{ (weather$ | async)?.icon }}" />
            <mat-card-title
                >{{ (weather$ | async)?.temperature }}°C</mat-card-title
            >
            <mat-card-subtitle>{{
                (weather$ | async)?.condition
            }}</mat-card-subtitle>
        </div>
        <div class="mat-card-rigth-box">
            <mat-card-subtitle>Feels like</mat-card-subtitle>
            <mat-card-subtitle
                >{{ (weather$ | async)?.feelslike }}°C</mat-card-subtitle
            >
            <mat-card-subtitle>Humidity</mat-card-subtitle>
            <mat-card-subtitle
                >{{ (weather$ | async)?.humidity }}%</mat-card-subtitle
            >
            <mat-card-subtitle>Wind</mat-card-subtitle>
            <mat-card-subtitle
                >{{ (weather$ | async)?.wind }} km/h</mat-card-subtitle
            >
        </div>
    </mat-card-content>
    <mat-card-actions>
        <a mat-raised-button color="accent">Details</a>
        <!-- <button mat-raised-button color="accent">Add to list</button> -->
    </mat-card-actions>
</mat-card>
