<mat-card>
    <mat-card-header>
        <mat-card-title>{{ weather$?.location }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="mat-card-left-box">
            <img src="{{ weather$?.icon }}" />
            <mat-card-title>{{ weather$?.temperature }}°C</mat-card-title>
            <mat-card-subtitle>{{ weather$?.condition }}</mat-card-subtitle>
        </div>
        <div class="mat-card-rigth-box">
            <mat-card-subtitle>Feels like</mat-card-subtitle>
            <mat-card-subtitle>{{ weather$?.feelslike }}°C</mat-card-subtitle>
            <mat-card-subtitle>Humidity</mat-card-subtitle>
            <mat-card-subtitle>{{ weather$?.humidity }}%</mat-card-subtitle>
            <mat-card-subtitle>Wind</mat-card-subtitle>
            <mat-card-subtitle>{{ weather$?.wind }} km/h</mat-card-subtitle>
        </div>
    </mat-card-content>
</mat-card>
