.daily-week-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .daily-week-weather {
      display: flex;
      flex-wrap: wrap;
      row-gap: 1vh;

      .day-card {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 75px;
          margin: 0 auto;
          
          * {
              text-align: center;
              margin: 0;
          }

          img {
              height: 48px;
              width: 48px;
          }
      } 
  }
}