/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-toolbar {
  height: 7vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

mat-card {
  box-shadow: 0px 0px 15px -7px rgb(0 0 0 / 20%), 0px 0px 19px -15px rgb(0 0 0 / 14%), 3px 0px 2px -4px rgb(0 0 0 / 16%) !important;
}